.thumbnailContainer
{
	padding: 5px;
	margin: 2px 0px 0px 0px;
	background: #fff;
	border: 1px solid #666;
	float: left;
	margin: 5px 5px 5px 5px;
}

.thumbnailContainer h1
{
	
	
}

.thumbnailHeaderImage
{
	margin-top: 3px;
	margin-bottom: 0px;
	margin-right: 3px;
	font-size: 10pt;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: underline;
}

.rankNumber
{
	cursor: help;
}

.chartGroup
{
	display: block;
	height: 175px;
}