<?xml version="1.0" ?>
<cruisecontrol>
	<project name="NaturalLinkExchange.com">
		<schedule type="schedule" sleepSeconds="60" />
		<sourcecontrol type="svn">
			<executable>C:\program files\subversion\bin\svn.exe</executable>
			<trunkUrl>svn://ytech.dyndns.org/YTech/Projects/NaturalLinkExchange.com/Website/Trunk/</trunkUrl>
			<username>xxx</username>
			<password>xxx</password>
		</sourcecontrol>
		<build type="nant">
			<executable>C:\Program Files\nant-0.85-nightly-2006-03-04\bin\NAnt.exe</executable>
			<baseDirectory>C:\BuildRoot\Nle\</baseDirectory>
			<buildFile>MasterBuild.build</buildFile>
			<targetList>
				<target>buildLatest</target>
			</targetList>
			<buildTimeoutSeconds>600</buildTimeoutSeconds>
		</build>
		<publishers>
			<xmllogger>
				<logDir>C:\Program Files\CruiseControl.NET\Logging</logDir>
			</xmllogger>
			<email from="Builds@Young-Technologies.com" mailhost="server01" includeDetails="TRUE">
				<users>
					<user name="aaa" group="developers" address="aaa@aaa.com"/>
					<user name="bbb" group="developers" address="bbb@bbb.com"/>
					<user name="ccc" group="buildMasters" address="ccc@ccc.com" />
				</users>
				<groups>
					<group name="developers" notification="failed" />
					<group name="buildMasters" notification="always" />
				</groups>
			</email>
		</publishers>
	</project>
</cruisecontrol>