body
{
}
#content
{
	background-color: Gainsboro;
	padding: 0px;
	width: 750px;
}
.headerInput
{
	width: 525px;
}
.Body
{
	width: 600px;
}
.To
{
	font-weight: bold;
}
.standardFieldLabel
{
	width: 75px;
}

.Replacements td
{
	border-bottom: solid 1px black;
	padding: 3px;
}