h2
{
	display: inline;
	padding-right: 25px;
}
h5
{
	display: inline;
	padding: 0px;
	margin: 0px;
	padding-right: 20px;
}
.siteContainer
{
	padding-bottom: 20px;
}
.linkPackage1
{
	color: Black;
}
.linkPackage2
{
	color : Grey;
}
.linkPackage3
{
	color : gold;
}

.siteActionCommand
{
	font-family: Verdana;
	font-size: 10pt;
}
